.checkboxWrapper {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: var(--custom-checkbox-height, 25px);
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

.checkboxWrapper input[type=checkbox] {
    display: none;
}

.checkboxWrapper .checkBox {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * 0.1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

.checkboxWrapper .checkBox::before,
.checkboxWrapper .checkBox::after {
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * 0.2);
    background-color: #34b93d;
    display: inline-block;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    transition: opacity ease 0.5s;
}

.checkboxWrapper .checkBox::before {
    top: calc(var(--checkbox-height) * 0.72);
    left: calc(var(--checkbox-height) * 0.41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * 0.05) var(--background-color);
    transform: rotate(-135deg);
}

.checkboxWrapper .checkBox::after {
    top: calc(var(--checkbox-height) * 0.37);
    left: calc(var(--checkbox-height) * 0.05);
    transform: rotate(-45deg);
}

.checkboxWrapper input[type=checkbox]:checked + .checkBox,
.checkboxWrapper .checkBox.checked {
    border-color: #34b93d;
}

.checkboxWrapper input[type=checkbox]:checked + .checkBox::after,
.checkboxWrapper .checkBox.checked::after {
    height: calc(var(--checkbox-height) / 2);
    animation: dothabottomcheck 0.2s ease 0s forwards;
}

.checkboxWrapper input[type=checkbox]:checked + .checkBox::before,
.checkboxWrapper .checkBox.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    animation: dothatopcheck 0.4s ease 0s forwards;
}
